{% load static %}
<html>
<head>
<title>Writing Sandbox</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Latest compiled and minified CSS 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
<!-- Optional theme
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->
<link rel="stylesheet" href="{% static "quiz/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "quiz/bootstrap-theme.css" %}">
<!-- Writing Sandbox style -->
<link rel="stylesheet" href="{% static "quiz/style.css" %}">
</head>
<body>
<div class="wrap">
    <!-- Navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-muted" href="/">Writing Sandbox</a>  
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About Writing Sandbox</a></li>
                    <li><a href="https://docs.google.com/forms/d/1Ea_K3YN0POcgYZuANjL_qIUKvuqfYQ1lJIPmOYnUkr4/viewform">Send Feedback</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Navbar -->
    <div class="jumbotron">
        <h2 class="title">
            <span>Learn</span>
            <p>{{ set_name }} - {{ set_description }}</p> 
        </h2>
        <div class="conbox">
            <div id="input_div">
                <p id="text_quiz">{{ quiz }}</p>
                <form id="input_form">
                    <div class="form-group">
                        <input id="input_text_english" rows="3" name="user_text" class="form-control input-lg" placeholder="위 내용을 이곳에 영어로 써보세요. 정확하지 않아도 좋습니다. 쓰시고 엔터를 눌러 주세요." autofocus/>
                    </div>
                </form>
            </div>
            <div id="confirm_div">
                <h4>어떻게 쓰면 좋을지 궁금하셨죠?</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                    <h4><span class="label label-primary">What you meant</span>      {{ quiz }}</h4>
                    </li>
                    <li class="list-group-item">
                    <h4><span class="label label-primary">What you wrote</span>      <span id="text_you_said"></span></h4>
                    </li>
                    <li class="list-group-item">
                    <h4><span class="label label-primary">Waht we suggest</span>      <span id="text_correct">{{ answer }}</span></h4>
                    </li>
                </ul>
                <h4>제안하는 문장이 유일한 답은 아닙니다. :) </h4>
                <h4>내가 쓴 문장과 다르다고 좌절/분노 금지! 다음 문장을 연습하시려면 Next 클릭!</h4>
                <form id="post_form" method="POST">
                    <div class="form-group">
                        <input id="q_idx" name="q_idx" type="hidden" value="{{ q_idx }}">
                        {% if has_next_phrase %}
                        <input id="btn_next" name="btn_next" type="submit" class="btn btn-success btn-lg" value="Next" href="/">
                        {% else %}
                        <a class="btn btn-success btn-lg" href="/">Go to Home</a>
                        {% endif %}
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>&copy; 2014 Writing Sandbox. By Ho sung and Nasol</p>  
    </div> 
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
$(function() {
        $("#input_div").show();
        $("#confirm_div").hide();
        });
$("#input_form").submit(function(e) {
        e.preventDefault();
        $("#input_div").hide();
        $("#confirm_div").show();
        $("#text_you_said").text($("#input_text_english").val());
        });
</script>
</body>
</html>
